@import url("https://fonts.googleapis.com/css?family=Roboto|Ubuntu");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

textarea {
  overflow: auto;
  resize: vertical; }

input, textarea, button, select, a {
  outline: none;
  border: none; }

img {
  vertical-align: middle; }
